<h2>Sign Up</h2>
<form class="signup-form" action="/api/users/signup" method="post">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
<p>Already have an account? <a href="/login">Login here</a></p>